[Unit]
Description=Onewire Prometheus Exporter

[Service]
User=alan
EnvironmentFile=-/etc/sysconfig/onewire-exporter
ExecStart=/home/alan/go/programs/onewire-prom-exporter/onewire-prom-exporter $OPTIONS
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
